# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
- List of popular languages for Data Science 
- List of commonly used libraries in Data Science
- Data Science Tools 
- Arithmetic Expressions

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists are:
1. Pandas
2. Matplotlib
3. Scikit-learn
4. Tensorflow

|Data Science Tools|
|---------|
| Jupyter |
| Apache Zepplin |
| RStudio |
| Sypder |

Below are a few examples of evaluating arithmetic expressions on Python

In [6]:
# This is a simple arithmetic expression to multiply then add intergers
(3*4)+5

17

In [7]:
# This will convert 200 minutres to hours by dividing by 60
200/60

3.3333333333333335

## Author
Ruth Picazo Najera